* {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* 以上基本为通用样式 */




body {
    background-color: #f3f5f7;
}


/**整个网页主题内容显示区域 1200宽 水平居中*/
.w {
    width: 1200px;
    margin: auto;
}

.headBox {
    height: 42px;
    /* background-color: pink; */
    /* 注意此地方会层叠 w 里面的margin */
    margin: 30px auto;
    /* background: #bcd6f0; */
}

/* 顶部盒子部分 */

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 50px;
}

.nav li {
    float: left;
    margin: 0 15px;
}

.nav li a {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 8px;
    color: #251717f1;
    font-size: 18px;
}

.nav li a:hover {
    color: #00a4ff;
    border-bottom: #00a4ff solid 2px;
}

.search {
    float: left;
    /*412px= 362px+50px  */
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

/* 注意:search input 盒子实际宽 为 362px  : 345px+2px （1px 左边border边框） + padding-left: 15px*/
.search input {
    float: left;
    width: 346px;
    height: 40px;
    border: #00a4ff solid 1px;
    border-right: 0;
    color: #000;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 按钮button默认有个边框需要去掉 */
    border: 0;
    background: url(images/btn.png);
}

.user {
    float: right;
    height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #251717f1;

}

/* .user span {
    float: right;
    display: block;
    height: 42px;
    line-height: 42px;
    background: sandybrown;
} */

/* banner区域 */
.banner {
    height: 405px;
    background-color: #1c036c;
}

.banner .w {
    height: 405px;
    background: url(images/banner2_20190819_210028.png);
}

.banner .subjectNav {
    float: left;
    width: 190px;
    height: 405px;
    background: rgba(0, 0, 0, 0.3);
}

.banner .subjectNav ul li {
    height: 45px;
    line-height: 45px;
    float: right;
}

.banner .subjectNav ul li a {
    display: block;
    width: 150px;
    padding: 0 20px;
    font-size: 14px;
    color: white;
}

.banner .subjectNav ul li a:hover {
    background: #00a6ffbd;
    font-weight: 900;
    font-size: 15px;
}

.banner .subjectNav ul li a span {
    float: right;
}

.kecheng {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
    border-radius: 5px;
}

.kecheng .pd {
    padding: 0 20px;
}

.kecheng h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    color: #fff;
    line-height: 48px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.kecheng li {
    padding: 13px 0;
    border-bottom: 1px solid #ccc;
}

.pd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.pd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.pd .moreclass {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    line-height: 38px;
    margin: 6px 0;
    color: #00a4ff;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.pd .moreclass:hover {
    /* background-color: #00a6ffbd; */
    color: #0077ff;
    border: 1px solid #0077ff;
}

.recommendNav {
    height: 60px;
    background-color: whitesmoke;
    margin-top: 10px;
    /* 行高会继承， 会继承给里面3个孩子  h3 ul a*/
    line-height: 60px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.recommendNav h3 {
    float: left;
    height: 60px;
    margin: 0 30px;
    font-size: 16px;
    color: #00a4ff;
}

.recommendNav ul {
    float: left;
}

.recommendNav ul li {
    float: left;
}

.recommendNav ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.recommendNav .rc_interest {
    float: right;
    margin-right: 30px;
    color: #00a4ff;
}

.recommendNav ul li a:hover {
    color: #00a4ff;
}


.recommendBox {
    margin-top: 30px;
}

.recommendBox .rcBox_top {
    height: 45px;
}

.recommendBox h3 {
    float: left;
    color: #494949;
    font-size: 20px;
}

.recommendBox .rcBox_top a {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}


/* 把li 的父亲ul 修改的足够宽一行能装开5个盒子就不会换行了 */
.recommendBox .boxList ul {
    width: 1225px;

}

/* 这个就是主要产品盒子的宽高 */
.recommendBox .boxList ul li {
    /* 父相子绝，实现li标签里的 hot图标显示 */
    position: relative;

    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}


.recommendBox .boxList ul li img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.recommendBox .boxList ul li .hot {
    /* 子元素绝对定位 */
    position: absolute;
    top: 4px;
    right: -4px;
}


.recommendBox .boxList h4 {
    color: #050505;
    font-size: 14px;
    margin: 20px;
}

.recommendBox .boxList .infomation {
    margin: 20px;
    font-size: 12px;
    color: #969494;
}

.recommendBox .boxList .infomation span {
    color: #fd7b2b;
}

.recommendBox .boxList ul li:hover {
    box-shadow: 10px 10px 10px -4px rgba(44, 43, 43, 0.3);
}

/* 底部盒子部分 */
.footer {
    height: 400px;
    padding-top: 25px;
    background: white;
}

.footer .leftBox {
    float: left;

}

.footer .leftBox p {
    font-size: 13px;
    color: #b3b3b3;
    margin: 20px 0;
}

.footer .leftBox a {
    display: block;
    width: 115px;
    height: 35px;
    color: #00a4ff;
    border: #00a4ff solid 1px;
    text-align: center;
    line-height: 35px;
}

.footer .leftBox a:hover {
    /* background-color: #00a6ffbd; */
    color: #0077ff;
    border: 1px solid #0077ff;
}


.footer .rightBox {
    float: right;
}

.footer .rightBox a {
    font-size: 13px;
    color: #8b8989;
}

.footer .rightBox .title {
    margin-bottom: 10px;
}

.footer .rightBox .title a {
    font-size: 15px;
    color: #4e4e4e;
}

.footer .rightBox .more {
    float: left;
    margin-left: 100px;
}